# Name: ContMensili
# Author: Alberto Duina
# Version: 1.0
# Date: 2021/06/05
# Requires: ImageJ 1.42q
# Generate the jar file using: "jar cvfM jar_demo.jar *"
#
# Questo file assicura che ImageJ ci mostri i file, contenuti nel file jar, nel meu plugins
#


Plugins>qualityACR, "0 FOLDER SELECTION", qualityACR.Folder_Selector
Plugins>qualityACR, "1 GEOMETRIC ACCURACY", qualityACR.Geometric_Accuracy
Plugins>qualityACR, "2 SPATIAL RESOLUTION", qualityACR.SpatialResolution
Plugins>qualityACR, "3 SLICE THICKNESS", qualityACR.SliceThickness_
Plugins>qualityACR, "4 Slice position accuracy", qualityACR.SlicePosition_
Plugins>qualityACR, "5 IMAGE UNIFORMITY", qualityACR.Uniformity_
Plugins>qualityACR, "6 PERCENT SIGNAL GHOSTING", qualityACR.Ghosting_
Plugins>qualityACR, "7 Low contrast object detectability", qualityACR.LowCtr_ObjectDetect
Plugins>qualityACR, "8 ERROR DEMO", qualityACR.Error_Demo
Plugins>qualityACR, "9 REPORTER", qualityACR.Reporter

